:root {
    --primary-color: #020F22;
    --white-color: #fff;
    --gap: 3rem;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
}

.main-bg {
    background-image: url(../img/scattered-forcefields.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem 5rem;
}

.page-section {
    min-height: 100vh;
}

.white-bg {
    background-color: var(--white-color);
}

p {
    line-height: 3rem;
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 3rem;
}

h6 {
    font-size: 2.5rem;
}

.footer {
    display: flex;
    justify-content: center;

    align-items: center;

}

.footer p {
    margin-top: 1rem;
    padding: 0.5rem;

}

.grid-name, .grid-description::after {
    content: '';
    display: block;
    clear: both;


}